@page "/orders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Booking</h3>
<hr />
<br />

<EditForm Model="@order" OnValidSubmit="CreateBooking">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Vehicle: </label>
        <div>
            <InputSelect @bind-Value="order.VehicleId" class="form-control">
                <option value="">-- Select Vehicle --</option>
                @if (Vehicles != null)
                {
                    foreach (var vehicle in Vehicles)
                    {
                        <option value="@vehicle.Id">@vehicle.Make.Name @vehicle.Model.Name - @vehicle.LicensePlateNumber </option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => order.VehicleId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Customer: </label>
        <div>
            <InputSelect @bind-Value="order.CustomerId" class="form-control">
                <option value="">-- Select Customer --</option>
                @if (Customers != null)
                {
                    foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">@customer.FirstName - @customer.DrivingLicense </option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => order.CustomerId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Date Out: </label>
        <div>
            <InputDate @bind-Value="@order.DateOut" class="form-control" />
            <ValidationMessage For="@(() => order.DateOut)" />
        </div>
    </div>

    @if (order.Id > 0)
    {
        <div class="form-group">
            <label>Date In: </label>
            <div>
                <InputDate @bind-Value="@order.DateIn" class="form-control" />
                <ValidationMessage For="@(() => order.DateIn)" />
            </div>
        </div>
    }

    <button type="submit" class="btn btn-success btn-block">
        Create Booking
    </button>
</EditForm>

@code {
    Booking order = new Booking();

    private IList<Vehicle> Vehicles;
    private IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Vehicles = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.VehiclesEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        //order.DateOut = DateTime.Now;
    }

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, order);
        _navManager.NavigateTo("/orders/");
    }
}
