@page "/devices/create/"
@using PE01_proj.Client.Static;
@using PE01_proj.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Device</h3>
<hr />
<br />

<EditForm Model="@device" OnValidSubmit="CreateDevice">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="form-group">
        <label>Device Desciption: </label>
        <div>
            <InputText @bind-Value="@device.DevDesc" class="form-control" />
            <ValidationMessage For="@(() => device.DevDesc)" />
        </div>
    </div>

    <div class="form-group">
        <label>Device Cost: </label>
        <div>
            <InputText @bind-Value="@device.DevCost" class="form-control" />
            <ValidationMessage For="@(() => device.DevCost)" />
        </div>
    </div>

    <div class="form-group">
        <label>Device Type: </label>
        <div>
            <InputText @bind-Value="@device.DevType" class="form-control" />
            <ValidationMessage For="@(() => device.DevType)" />
        </div>
    </div>

    <div class="form-group">
        <label>Device Name: </label>
        <div>
            <InputText @bind-Value="@device.DevName" class="form-control" />
            <ValidationMessage For="@(() => device.DevName)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Device
    </button>
</EditForm>

@code {
    Device device = new Device();

    private async Task CreateDevice()
    {
        await _client.PostAsJsonAsync(Endpoints.DevicesEndpoint, device);
        _navManager.NavigateTo("/devices/");
    }
}