@using PE01_proj.Client.Static;
@using PE01_proj.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Device</h3>
<EditForm Model="@device" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Device Name: </label>
        <div>
            <InputText @bind-Value="@device.DevName" class="form-control" />
            <ValidationMessage For="@(() => device.DevName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Device Desciption: </label>
        <div>
            <InputText @bind-Value="@device.DevDesc" class="form-control" />
            <ValidationMessage For="@(() => device.DevDesc)" />
        </div>
    </div>

    <div class="form-group">
        <label>Device Cost: </label>
        <div>
            <InputText @bind-Value="@device.DevCost" class="form-control" />
            <ValidationMessage For="@(() => device.DevCost)" />
        </div>
    </div>

    <div class="form-group">
        <label>Device Type: </label>
        <div>
            <InputText @bind-Value="@device.DevType" class="form-control" />
            <ValidationMessage For="@(() => device.DevType)" />
        </div>
    </div>


    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <PE01_proj.Client.Component.BackToList Target="devices"/>

</EditForm>
@code {
    [Parameter] public Device device { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
