@page "/staffs/create/"
@using PE01_proj.Client.Static;
@using PE01_proj.Shared.Domain;
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Staff</h3>
<hr />
<br />

<EditForm Model="@staff" OnValidSubmit="CreateStaff">
    <DataAnnotationsValidator />
    <ValidationSummary />

  
    <div class="form-group">
        <label>Staff Name: </label>
        <div>
            <InputText @bind-Value="@staff.StaffName" class="form-control" />
            <ValidationMessage For="@(() => staff.StaffName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Staff Position: </label>
        <div>
            <InputText @bind-Value="@staff.StaffPosition" class="form-control" />
            <ValidationMessage For="@(() => staff.StaffPosition)" />
        </div>
    </div>

    <div class="form-group">
        <label>Staff Type: </label>
        <div>
            <InputText @bind-Value="@staff.StaffAddress" class="form-control" />
            <ValidationMessage For="@(() => staff.StaffAddress)" />
        </div>
    </div>


    <button type="submit" class="btn btn-success btn-block">
        Create Staff
    </button>
</EditForm>

@code {
    Staff staff = new Staff();

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    }
}